    *{
        /* border: 1px solid #333; */
    }
    .card{
        max-width: 700px;
        margin: 0px auto;
    }
/* ============================Step1============================== */
    /* --------------Card body-------------- */
    .product-cart-render{
        margin: 0 0 20px 0;
    }
    .div-coupon::after, .summary::before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #d0d0d0;
    }
    .div-product-cart-render::after{
        margin-bottom: 20px;
    }
    /* ...............Product left.............. */
    .product-cart-render-left-img img{
        border: 1px solid #808080;
        border-radius: 5px;
        width: 100%;
    }
    .product-cart-render-left-img{
        max-width: 120px;
    }
    .trash-btn{
        width: 100%;
        outline: none;
        border: none;
        background-color: white;
        color: red;
        margin: 0px auto;
    }
    .trash-btn i{
        margin-right: 5px;
        margin-top: 10px;
    }
    /* ...............Product right.............. */
    .price-quantity{
        text-align: right;
    }

    .sale-price{
        font-size: 19px;
        color: red;
        font-weight: bold;
        margin-right: 10px;
        margin: 0 0 -5px 0;
    }

    .real-price{
        font-size: 15px;
        text-decoration: line-through;
        color: #888;
        margin-right: 10px;
        margin: 0 0 10px 0;
    }
    /* Ẩn nút tăng/giảm của Google */
    .quantity-input::-webkit-outer-spin-button,
    .quantity-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Ẩn nút tăng/giảm của Firefox */
    .quantity-input {
        -moz-appearance: textfield;
        border: transparent;
        text-align: center;
    }

    .updown_quantity-div button, .updown_quantity-div input {
        background-color: white;
        outline: none;
        max-width: 40px;
    }
    .updown_quantity-div {
        border: 1px solid black;
        height: 100%;
        padding: 3px;
    }
    .plus-btn{
        border: transparent;
        border-left: 1px solid black;
    }
    .minus-btn{
        border: none;
        border-right: 1px solid black;
    }
    .plus-btn i{
        font-size: 15px;
        font-weight: 400;
    }
    .minus-btn i{
        font-size: 15px;
    }
    /* ...............Coupon.................. */
    .span-coupon{
        border: 1px solid gray;
        padding: 5px 10px;
        color: #0186e7;
        display: inline-block;
        margin: 10px 0px;
        font-weight: 500;
        border-radius: 5px;
    }
    .span-coupon:hover{
        cursor: pointer;
    }
    .span-i-show{
        transform: scaleY(-1);
    }
    .apply-discount{
        outline: none;
        border: 1px solid #0186e7;
        background-color:#0186e7;
        border-radius: 5px;
        color: white;
        padding: 6px;
        margin-left: 10px;
        width: 95px;
    }
    .div-coupon-div{
        transition: all 0.5s ease-in-out;
        display: none;
    }
    .div-coupon-div.show{
        padding: 5px;
        margin-bottom: 10px;
        display: block;
    }

    #bluesky {
        transition: transform 0.5s ease;
    }

    #bluesky.span-i-show {
        transform: rotate(180deg);
    }
    /* ...............Total price............. */
    .cash-total{
        margin: 10px 0;
    }
    .cash-total-div, .cash-delivery-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .cash-total span:nth-child(1), .cash-delivery-div span:nth-child(2){
        font-weight: bold;
    }
    .cash-total-div span:nth-child(2){
        color: red;
        font-weight: bold;
        font-size: 20px;
    }
    .cash-total-div span:nth-child(1){
        font-size: 20px;
    }
    /* ...............Next button............. */
    #next-btn{
        width: 100%;
        margin-top: 10px
    }
/* ========================================================== */
/* ============================Step2============================== */
    /* ----------------Div cha --------------- */
    #checkout-card{
        margin-top: 20px;
    }
    /* ----------------Toggle div------------- */
    /* Swap address */
    .address-toggle-wrapper {
        border: 1px solid #dee2e6;
        background-color: #f8f9fa;
        transition: all 0.3s ease;
    }
    /* Radio address */
    .list-group-item {
        border: none;
        padding-left: 2rem;
    }
/* ========================================================== */

