@media (max-width: 768px) {
    .card-img-top{
        width: 350px;
        height: 250px;
    }
}
@media (min-width: 676px) and (max-width: 767.97px) {
    /* --------------section product (laptop)--------------- */
    .span-filter-product{
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 675.97px) {
    /* --------------section product (laptop)--------------- */
    .sub-title, .span-filter-product{
        display: none;
    }
    .card-img-top{
        width: 300px;
        height: 250px;
    }
}
@media (max-width: 575px) {
    /* --------------section product (laptop)--------------- */
    .sub-title, .span-filter-product{
        display: none;
    }
    .card-img-top{
        width: 250px;
        height: 200px;
    }
}
