
/* -----------------Sub---------------------- */
.sticky-banner-left-right{
    position: relative;
    width: 100%;
}
.banner-left, .banner-right{
    position: fixed;
    top: 170px;
    width: 10%;
    z-index: 1000;
    padding: 10px;
    display: none;
}
.banner-left>img, .banner-right>img{
    border-radius: 5px;
    width: 130px;
    height: 400px;
}
.banner-left{
    left: 0;
}
.banner-right{
    right: 0;
}
/* -----------------Section product------------------ */
/* .........Outline product........... */
.section-outline{
    background-color: white;
    padding-top: 5px;
    border-radius: 5px;
}
/* .....Title..... */
.main-title{
    font-size: 18px;
    font-weight: bold;
}
.sub-title{
    font-weight: bold;
}
.sub-title>i{
    margin-right: 5px;
}
.main-title::after{
    content: '';
    border-right: 1px solid #cbccce;
    width: 1px;
    height: auto;
    margin: 0 10px;
}
/* .....Swiper slide..... */
.productSwiper{
    background-color: white;
    transition: transform 0.3s ease;
    padding: 10px 10px;
    border-radius: 5px;
}
.productSwiper:hover .custom-control{
    opacity: 1;
    transform: translateX(0);
}
.custom-control.swiper-button-prev{
    transform: translateX(10px);
}
.custom-control.swiper-button-next{
    transform: translateX(-10px);
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
}
.card-info{
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
    padding: 5px;
    margin: 5px 0;
}
.card-info>span{
    flex-grow: 1;
    font-size: 12px;
    margin-right: 1px;
}
.card-info>span>i{
    font-size: 12px;
}
.card-real-price{
    text-decoration: line-through;
}
.card-sale-price{
    color: red;
    font-size: large;
    font-weight: bold;
}
.card-real-price, .card-sale-price{
    margin-bottom: 0;
}
.custom-control-button-np{
    color: #333;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.swiper-button-prev{
    justify-content: left;
    left: 0;
    clip-path: circle(50% at 0 50%);
}
.swiper-button-next{
    justify-content: right;
    right: 0;
    clip-path: circle(50% at 100% 50%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px;
    color: #86878b;
}
.swiper:hover .custom-control-button-np{
    opacity: 1;
    transform: translateX(0);
}
.swiper-button-prev.custom-control-button-np{
    transform: translateX(-25px);
}
.swiper-button-next.custom-control-button-np{
    transform: translateX(25px);
}
/* ...........Product star rating............ */
.rating-section{
    display: flex;
    justify-content: space-between;
}
.stars {
    display: flex;
    align-items: center;
}
.stars span {
    position: relative;
    width: 18px;
    height: 18px;
}
.stars span svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.stars span .star-background {
    fill: none;
    stroke: #f1c40f;
    stroke-width: 1.8;
    /* độ dày viền */
}
.stars span .star-fill {
    fill: #f1c40f;
}
.stars span.quarter-star .star-fill {
    clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
    /* 25% nhưng để 35 cho đẹp */
}
.stars span.half-star .star-fill {
    clip-path: polygon(0 0, 55% 0, 55% 100%, 0 100%);
    /* 50% */
}
.stars span.three-quarter-star .star-fill {
    clip-path: polygon(0 0, 65% 0, 65% 100%, 0 100%);
    /* 70% */
}
.stars span.empty .star-fill {
    display: none;
}
.review-count {
    font-size: 12px;
    color: #777;
}
